.page2 {
    flex-direction: column;
}

.projects {
    display: flex;
    flex-direction: row;
    width: 80vw;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.project-image {
    padding: 8px;
    border: 2px solid rgba(0, 0, 0, 0.456);
}

.card {
    width: 220px;
    height: 254px;
    font-weight: 900;
    overflow: hidden;
    padding: 0px 20px;
    border-radius: 40px;
    transition: all 0.2s;
    margin: 16px;
}

.card:hover {
    cursor: pointer;
    scale: 1.05;
}

.first-content {
    height: 100%;
    width: 100%;
    transition: all 0.4s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 1;
    border-radius: 15px;
}

.card:hover .first-content {
    height: 0px;
    opacity: 0;
}

.second-content {
    height: 0%;
    width: 100%;
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    transition: all 0.4s;
    transform: rotate(0deg);
}

.card:hover .second-content {
    opacity: 1;
    height: 100%;
    font-size: 1.8rem;
    transform: rotate(0deg);
}

.page2 .projects .card .first-content img {
    width: 70px;
    border-radius: 25px;
    background-color: white;
}

.first-content span {
    text-wrap: wrap;
    text-align: center;
    font-size: 30px;
}

.second-content span, button {
    text-wrap: wrap;
    text-align: center;
    font-size: 22px;
}

.second-content button {
    border-radius: 20px;
    padding:2px 15px;
    cursor: pointer;
}